<!DOCTYPE html>
<html>
  <head>
    <title>Approvals</title>
  </head>
  <body>
    
    <% include ./header.ejs %>
    
    <h1>Approvals</h1>
    
    <%  if (approvals.length == 0) { %>
        No nominations awaiting your approval at present.
    <% } else { %>
        <table>
        <tr>
            <th>id</th>
            <th>nominator</th>
            <th>nominee</th>
            <th>reason</th>
            <th>act</th>
        </tr>
        <%  var c;
            for (c = 0; c < approvals.length; c++) {
        %>
            <tr>
                <td><%= approvals[c].id %></td>
                <td><%= approvals[c].nominator.name %></td>
                <td><%= approvals[c].nominee.name %></td>
                <td><%= approvals[c].reason.name %></td>
                <td>
                <form method="POST" action="./approvals" name="approval_form" class="approvals">
                    <input type="hidden" name="nomination_id" value="<%= approvals[c].id %>"/>
                    <input type="hidden" name="newStatus" value="approved"/>
                    <a href="." onclick="document.forms.approval_form.submit(); return false;">approve</a>
                </form> |
                <form method="POST" action="./approvals" name="disapproval_form" class="inline">
                    <input type="hidden" name="nomination_id" value="<%= approvals[c].id %>"/>
                    <input type="hidden" name="newStatus" value="disapproved"/>
                    <a href="." onclick="document.forms.disapproval_form.submit(); return false;">disapprove</a>
                </form>
                
            </tr>
        <%  } %>
        </table>
    <% } %>

    <% include ./footer.ejs %>    
  </body>
</html>
