<link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="navbar-container">
    <ul>
        <li>
            <!-- <img width="35" src="./images/<%= user.id %>.jpg"/> -->
            <img width="35" src="./images/icons/person.png"/>
        </li>
        <li class="greeting"><span>Hello, <%= user.name %></span></li>
        <li><a href="./">home</a></li>
        <li><a href="./nominate">nominate</a></li>
        <li><a href="./profile">profile</a></li>
        <li><a href="./approvals">approvals</a>
        <li><a href="./login">logout</a>
    </ul>
</div>
