<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    
    <% include ./header.ejs %>
    
    <h1>Home</h1>

    <%  if (awards.length == 0) { %>
        No awards in the system at present.
    <% } else { %>
        <table>
        <tr>
            <th>id</th>
            <th>nominator</th>
            <th>nominee</th>
            <th>reason</th>
        </tr>
        <%  var c;
            for (c = 0; c < awards.length; c++) {
        %>
            <tr>
                <td><%= awards[c].id %></td>
                <td><%= awards[c].nominator.name %></td>
                <td><%= awards[c].nominee.name %></td>
                <td><%= awards[c].reason.name %></td>
            </tr>
        <%  } %>
        </table>
    <% } %>

    <% include ./footer.ejs %>    
  </body>
</html>
