<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>Welcome</h1>
    
    <form method="POST" action="./login">
        <p>Login as
            <select id="user_id" name="user_id">
            <% var c = 0;
               for (c = 0; c < users.length; c++) {
            %>
                <option value="<%= users[c].id %>"><%= users[c].name %></option>
            <% }
            %>
            </select>
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>

  </body>
</html>
