<!DOCTYPE html>
<html>

<head>
    <title>Nominate</title>

    <script type="text/javascript">
        function personChanged(target, notifyBot) {
            var themImage = document.getElementById("img_them");
            themImage.src = "./images/" + target.value + ".jpg";
            themImage.classList.remove('hidden');

            if(notifyBot) {
                console.log(target[target.selectedIndex].text);

                botConnection
                    .postActivity({
                        from: user,
                        name: 'personSelected',
                        value: "I'm trying to nominate someone...",
                        text: target[target.selectedIndex].text,
                        type: 'message'
                    })
                    .subscribe(function (id) {
                        console.log('"event" sent');
                    });
            }
        }

        function bodyLoaded() {
            // document.getElementById("nominate-form").style.display = "none";
        }

        function processEvent(activity) {
            console.log(activity.name);
            console.log(activity.value);

            switch (activity.name) {
                case "awardDialogStarted":
                    document.getElementById("nominate-form").style.display = "block";
                    document.getElementById("pre-nominate").style.display = "none";
                    break;

                case "personChosen":
                    var nomineeSelect = document.getElementById('nominee_id');
                    nomineeSelect.value = activity.value;

                    // there's probably a nicer way, but hey...
                    personChanged(nomineeSelect, false);
                    break;

                case "amount":
                    var amount = document.getElementById('amount_id');
                    amount.value = activity.value;
                    break;

                case "setAwardMessage":
                    var msgArea = document.getElementById('nominate-message-text');
                    msgArea.innerHTML = activity.value;
                    document.getElementsByClassName('nominate-message')[0].classList.remove('hidden');
                    break;

                case "category":
                    var cat = activity.value;
                    var nomReason = document.getElementsByClassName('nominate-reason')[0];
                    nomReason.classList.add('value-' + cat);
                    nomReason.classList.remove('hidden');

                    document.getElementById('reason_id').value = cat;

                    break;

                case "positivityRating":
                    var value = activity.value;
                    var positive = value > 50;

                    var el = document.getElementsByClassName('positivityRating')[0];
                    el.classList.remove('negative', 'positive');

                    if (positive) {
                        el.classList.add('positive');
                    } else {
                        el.classList.add('negative');
                    }

                    var score = document.getElementsByClassName('score')[0];
                    score.innerHTML = value + "%";

                    break;
            }
        }

        function getStarted() {
            botConnection
                .postActivity({
                    from: user,
                    name: 'nominate',
                    value: "I'm trying to nominate someone...",
                    text: "I'd like to give an award",
                    type: 'message'
                })
                .subscribe(function (id) {
                    console.log('"event" sent');
                });
        }
    </script>
</head>

<body onload="bodyLoaded();">
    <% include ./header.ejs %>

        <div class="wrapper">

            <h1>Nominate</h1>

            <p>This is some nice copy, talking about how to nominate someone for an award and waht an amazing benefit to society
                that is.</p>

            <div class="pre-nominate-button" id="pre-nominate">
                <button onclick="getStarted()">Get started!</button>
            </div>

            <form method="POST" action="./nominate" id="nominate-form" style="display: none;">

                <ul class="nominate">
                    <li class="me">
                        <img src="./images/icons/person.png" />
                    </li>
                    <li class="them">
                        <img id="img_them" class="hidden" src="./images/<%= users[0].id %>.jpg" />
                    </li>
                </ul>

                <p class="nominate-person">You are nominating
                    <select id="nominee_id" name="nominee_id" onchange="personChanged(this, true);">
                        <option></option>
                        <% var c = 0;
               for (c = 0; c < users.length; c++) {
            %>
                            <option value="<%= users[c].id %>">
                                <%= users[c].name %>
                            </option>
                            <% }
            %>
                    </select>

                    for an amount of
                    <select id="amount_id" name="amount_id">
                        <% for (c = 0; c < amounts.length; c++) {
            %>
                            <option value="<%= amounts[c].id %>">
                                <%= amounts[c].name %>
                            </option>
                            <% }
            %>
                    </select>.
                </p>
                <!-- /nominate-person -->

                <div class="nominate-reason hidden">
                    <p>
                        <select id="reason_id" name="reason_id" disabled>
                            <% for (c = 0; c < reasons.length; c++) {
            %>
                                <option value="<%= reasons[c].id %>">
                                    <%= reasons[c].name %>
                                </option>
                                <% }
            %>
                        </select>
                    </p>
                </div>
                <div class="nominate-message hidden">
                    <h2>Presentation Help</h2>
                    <p id="nominate-message-text">
                        <!--TEXT-AREA-->
                        <textarea style="display:none;" id="awardMessage_id" name="awardMessage" rows="5" cols="100" placeholder="Enter Nomination Reason text
                     here..."></textarea>
                    </p>
                    <div class="positivityRating">
                        <span class="message">Positivity</span>
                        <span class="score">0%</span>
                    </div>
                </div>
                <!-- <p>
                    <input type="submit" value="Submit">
                </p> -->
            </form>

        </div>

        <!-- bot -->
        <div id="virtual-colleague"></div>

        <div id="sparky-bot"></div>

        <% include ./footer.ejs %>
</body>

<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>

<script>
    const params = BotChat.queryParams(location.search);

    const user = {
        id: params['userid'] || 'userid goes here',
        name: params['username'] || 'username goes there'
    };

    const bot = {
        id: '<%= config.bot.id %>',
        name: '<%= config.bot.name %>'
    };
    window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

    const botConnection = new BotChat.DirectLine({
        domain: params['domain'],
        secret: '<%= config.bot.directLine.secret %>',
        webSocket: params['webSocket'] && params['webSocket'] === 'false' // defaults to true
    });

    BotChat.App({
        bot: bot,
        botConnection: botConnection,
        user: user,
        resize: 'detect'
    }, document.getElementById('sparky-bot'));

    botConnection.activity$
        .filter(activity => activity.type === "event")
        .subscribe(activity => processEvent(activity));

/*
    botConnection.activity$
        .filter(activity => activity.type === "event" && activity.name === "changeBackgroundColor")
        .subscribe(activity => console.log(activity));

    function setUser(user) {
        var nomineeSelectBox = document.getElementById('nominee_id');
        nomineeSelectBox.value = user;
    }

    botConnection.activity$
        .filter(activity => activity.type === "event" && activity.name === "setUser")
        .subscribe(activity => setUser(activity.value))

    function setAmount(amount) {
        var amountSelectBox = document.getElementById('amount_id');
        amountSelectBox.value = amount;
    }

    botConnection.activity$
        .filter(activity => activity.type === "event" && activity.name === "setAmount")
        .subscribe(activity => setAmount(activity.value))

    function setReason(reason) {
        var reasonSelectBox = document.getElementById('reason_id');
        reasonSelectBox.value = reason;
    }

    botConnection.activity$
        .filter(activity => activity.type === "event" && activity.name === "setReason")
        .subscribe(activity => setReason(activity.value))

    function setAwardMessage(awardMessage) {
        var awardMessageText = document.getElementById('awardMessage_id');
        awardMessageText.value = awardMessage;
    }

    botConnection.activity$
        .filter(activity => activity.type === "event" && activity.name === "setAwardMessage")
        .subscribe(activity => setAwardMessage(activity.value))
*/
</script>

</html>