<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    
    <% include ./header.ejs %>
    
    <h1>Profile</h1>
    
    <% if (user.is_picture_loaded) { %>
        <p>
            <img width="200px" src="./images/<%= user.id %>.jpg"/>
        </p>
        <p>
            <form method="POST" action="./profile" class="inline">
                <input type="hidden" name="action" value="remove_profile_picture"/>
                <input type="submit" value="Remove picture">
            </form>
        </p>
    <% } else { %>
        <p>
            <img width="200px" src="./images/unknown.jpg"/>
        </p>
        <p>
            <form method="POST" action="./profile" class="inline">
                <input type="hidden" name="action" value="add_profile_picture"/>
                <input type="submit" value="Load picture">
            </form>
        </p>
    <% } %>
    
    <% include ./footer.ejs %>    
  </body>
  </body>
</html>
