body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 140%;
    color: #444;
    background: #f9f9f9;
    margin: 0px;
}

.wrapper {  
    width: 600px;
    margin: 40px;
}

.wrapper form {
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
}
.wrapper textarea {
    width: 100%; 
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0ad;
}

.nominate {
    height: 80px;
    display: block;
    padding: 20px 0;
    margin: 0;
}

.nominate li {
    width: 50%;
    height: 50px;
    display: block;
    border-radius: 25px;
    float: left;
}

.nominate li.me { 
    text-align: right;
}
.nominate li img { height: 80px; border-radius: 40px; margin: 0 35px; }

p.nominate-person {
    color: #999999;
    text-align: center;
    padding: 20px;
    margin-bottom: 24px; /* the other div has an extended padding */
    margin-top: 0px;
    padding-top: 0px;
}

.nominate-reason {
    margin: -10px;
    padding: 60px;
    background: hsl(97, 53%, 54%);
    text-align: center;
}

.nominate-reason select { 
    background: none;
    border: 0;  
    color: white;
    font-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;      
    appearance: none;
}

.nominate-amount {
    padding: 40px 20px 20px 20px;
    text-align: center;
}


a:active  { color: #0bf }
a:hover   { color: #0cf }

.navbar-container {
    width: 100%;
    background-color: #222;
}

.navbar-container ul {
    list-style-type: none;
    padding: 10px;    
    margin: 0;
    overflow: hidden;
}

.navbar-container li {
    float: left;
    margin: 10px;
}

.navbar-container li.greeting { font-size: 16px; }

.navbar-container li a {
    display: block;
    padding: 8px;
    color: #0ad;
    text-decoration: none;
}

.navbar-container li span {
    display: block;
    padding: 8px;
    color: #ddd;
}

.navbar-container li img {
    vertical-align: middle
}

.navbar-container li a:hover {
    background-color: #555;
}

.pre-nominate-button {
    padding: 50px;
    text-align: center;
    /* border: 1px solid #eee; */
    /* border-radius: 10px; */
}

.pre-nominate-button button {
    background: none;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.pre-nominate-button button:hover {
    color: blue;
    border-color: blue;
}

.nominate-message {
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 10px;
    margin: 50px 20px 20px 20px;
    position: relative;
}

.nominate-message .positivityRating {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
}

.nominate-message .positivityRating .message {
    color: #6666;
    border-right: 1px solid #eee;
    padding: 0 10px;
    margin-right: 10px;
}

.positive .score { color: #78BE20;}
.negative .score { color: #E04D39;}

#nominate-message-text {
    margin-top: 30px;
}

.nominate-message h2 {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    padding: 10px;
    margin: -20px;
}

.hidden { display: none !important; }

select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    color: #444;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px 40px 10px 10px;
}

tr:nth-child(even){background-color: #eee}

th {
    background-color: #2196f3;
    color: white;
}

form.inline {
    display: inline;   
}





/** Bot specific **/
div.wc-app {
    position: absolute;
    right: 20px;
    bottom: 80px;
    height: 700px;
    width: 450px;

    -webkit-box-shadow: 0px 0px 24px -4px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 24px -4px rgba(219,219,219,1);
    box-shadow: 0px 0px 24px -4px rgba(219,219,219,1);

    border-radius: 10px;
}
div.wc-app .wc-header {
    display: none;
}

div.wc-app .wc-console {
    border: none;
}

.wc-chatview-panel { background: white; /* we do this, so it's not transparent :) */ }
.wc-console .wc-upload { display: none; }
.wc-app .wc-console .wc-textbox  { left: 20px !important;}

.wc-message-from-bot.wc-message { float: right; clear: right; width: 370px; }
.wc-message-from-me.wc-message { float: left; width: 370px; }

.wc-message-content { background: none !important; box-shadow: none !important; border: none !important; }

.wc-message-from-bot .wc-message-content { color: #810F55 !important; background: none !important; box-shadow: none;}
.wc-message-from-me .wc-message-content { color: black; font-weight: bold; }
.wc-message-wrapper { margin: 25px 0; }
.wc-message-from { 
    width: 40px;
    text-indent: -1000px;
    overflow: hidden;
    height: 40px;
} 

.wc-message-from {
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.wc-message-from-bot.wc-message-from  { 
    float: left !important;
    clear: none !important; 
    background-image: url(/images/icons/virtual_colleague.png);
}

.wc-message-from-me.wc-message-from { 
    float:right; 
    clear:none; 
    background-image: url(/images/icons/person.png);
}
.wc-message-from-me.wc-message-from span { display: none; }

.wc-message-from-me .wc-message-content { float: right; text-align: right; }

    .wc-message-callout { display: none; }
    .wc-message-from-me { float: left; }


#virtual-colleague { 
    position: absolute; 
    display:block;
     width: 40px; height: 40px;
      background-image: url('/images/icons/virtual_colleague.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: middle center; 
      right: 80px; bottom: 20px;
}


.wc-card.wc-adaptive-card.hero {
    border: none;
}

.wc-card button { 
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.value-customerservice { background-color: #F1AA00;}
.value-teamwork { background-color: #78BE20;}
.value-urgency { background-color: #E04D39;}
.value-respect { background-color: #00778B;}
.value-innovation { background-color: #8A0D59;}
.value-quality { background-color: #012E72;}

